/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables */
/* mixins */
/* fonts */
/* line 48, ../sass/screen.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 62px;
  font-weight: 400;
  color: #252525;
}
@media (max-width: 699px) {
  /* line 48, ../sass/screen.scss */
  h1 {
    text-align: center;
  }
}
@media (min-width: 700px) {
  /* line 48, ../sass/screen.scss */
  h1 {
    max-width: 600px;
    font-size: 58px;
  }
}
@media (min-width: 1200px) {
  /* line 48, ../sass/screen.scss */
  h1 {
    max-width: 900px;
    font-size: 62px;
  }
}
/* line 64, ../sass/screen.scss */
h1.sub-head {
  font-family: 'Crete Round', serif;
  font-style: italic;
}
@media (max-width: 699px) {
  /* line 64, ../sass/screen.scss */
  h1.sub-head {
    line-height: 1.2;
    margin-top: .5em;
    font-size: 22px;
  }
}
@media (min-width: 700px) {
  /* line 64, ../sass/screen.scss */
  h1.sub-head {
    font-size: 24px;
    margin-top: .5em;
  }
}
@media (min-width: 800px) {
  /* line 64, ../sass/screen.scss */
  h1.sub-head {
    font-size: 26px;
  }
}
@media (min-width: 1120px) {
  /* line 64, ../sass/screen.scss */
  h1.sub-head {
    margin-top: .4em;
  }
}

/* line 85, ../sass/screen.scss */
h2 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  color: #252525;
  margin-bottom: .2em;
  font-size: 28px;
}
@media (min-width: 800px) {
  /* line 85, ../sass/screen.scss */
  h2 {
    font-size: 36px;
  }
}
/* line 94, ../sass/screen.scss */
h2.aside {
  color: #F2F2F2;
  font-style: italic;
  letter-spacing: 0.05em;
  margin-bottom: .5em;
  font-size: 22px;
}
@media (min-width: 700px) {
  /* line 94, ../sass/screen.scss */
  h2.aside {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  /* line 94, ../sass/screen.scss */
  h2.aside {
    font-size: 26px;
  }
}

/* line 109, ../sass/screen.scss */
h3 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  color: #252525;
  font-size: 26px;
}

/* line 116, ../sass/screen.scss */
h4 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  color: #252525;
  font-size: 22px;
}

/* line 123, ../sass/screen.scss */
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #252525;
}
/* line 128, ../sass/screen.scss */
p.caption {
  font-size: 14px;
}
/* line 131, ../sass/screen.scss */
p.aside {
  color: #F2F2F2;
  letter-spacing: 0.06em;
  font-size: 12px;
}

/* styles */
/* line 141, ../sass/screen.scss */
img {
  width: 100%;
}

/* line 145, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 149, ../sass/screen.scss */
body {
  background-color: #F2F2F2;
}

/* line 153, ../sass/screen.scss */
.nav-wrap {
  background-color: #252525;
}
@media (max-width: 1120px) {
  /* line 153, ../sass/screen.scss */
  .nav-wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* line 160, ../sass/screen.scss */
nav {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: #252525;
  margin-bottom: 3.44828%;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 30, ../sass/screen.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 166, ../sass/screen.scss */
nav ul {
  list-style: none;
  float: left;
}
/* line 169, ../sass/screen.scss */
nav ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #F2F2F2;
  text-decoration: none;
  display: inline-block;
  padding: 1.3em;
}
/* line 178, ../sass/screen.scss */
nav ul li:first-child {
  padding-left: 0;
}
@media (min-width: 700px) {
  /* line 160, ../sass/screen.scss */
  nav {
    margin-bottom: 1.69492%;
  }
}
/* line 186, ../sass/screen.scss */
nav .twitter {
  width: 2.3em;
  height: 2.3em;
  float: right;
  margin-top: .4em;
  border: 2px solid #F2F2F2;
  border-radius: 50%;
}

/* line 196, ../sass/screen.scss */
header {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.44828%;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 30, ../sass/screen.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1120px) {
  /* line 196, ../sass/screen.scss */
  header {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 700px) {
  /* line 196, ../sass/screen.scss */
  header {
    margin-bottom: 1.69492%;
  }
}
@media (max-width: 699px) {
  /* line 207, ../sass/screen.scss */
  header .logo {
    width: 100px;
    margin: .5em auto;
  }
}
@media (min-width: 700px) {
  /* line 207, ../sass/screen.scss */
  header .logo {
    width: 13.7931%;
    float: left;
    margin-right: 3.44828%;
  }
}
/* line 216, ../sass/screen.scss */
header .header-group {
  height: 100%;
  position: relative;
}
@media (min-width: 700px) {
  /* line 216, ../sass/screen.scss */
  header .header-group {
    width: 82.75862%;
    float: right;
    margin-right: 0;
    padding-top: 2em;
  }
}
@media (min-width: 900px) {
  /* line 216, ../sass/screen.scss */
  header .header-group {
    padding-top: 3em;
  }
}
@media (min-width: 1100px) {
  /* line 216, ../sass/screen.scss */
  header .header-group {
    padding-top: 6em;
  }
}

/* line 232, ../sass/screen.scss */
main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
main:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1120px) {
  /* line 232, ../sass/screen.scss */
  main {
    padding-bottom: 1.69492%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

/* line 244, ../sass/screen.scss */
article {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #FFFFFF;
  margin-bottom: 3.44828%;
  border: 1px solid #ebebeb;
}
@media (min-width: 700px) {
  /* line 244, ../sass/screen.scss */
  article {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
    margin-bottom: 0;
    padding: 1.8em;
  }
}
/* line 255, ../sass/screen.scss */
article a {
  color: #252525;
}
/* line 258, ../sass/screen.scss */
article img {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 264, ../sass/screen.scss */
aside {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #252525;
  margin-bottom: 3.44828%;
}
@media (min-width: 700px) {
  /* line 264, ../sass/screen.scss */
  aside {
    width: 31.03448%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
    padding: 1.8em;
  }
}

/* line 276, ../sass/screen.scss */
.gallery-section {
  background-color: #ebebeb;
  padding-top: 1.69492%;
}
/* line 279, ../sass/screen.scss */
.gallery-section .gallery-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.gallery-section .gallery-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1200px) {
  /* line 279, ../sass/screen.scss */
  .gallery-section .gallery-container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }
}

/* line 288, ../sass/screen.scss */
.gallery {
  margin-top: 1.69492%;
}
/* line 30, ../sass/screen.scss */
.gallery:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 291, ../sass/screen.scss */
.gallery .gallery-item {
  list-style: none;
  padding: .5em;
  background-color: #FFFFFF;
  border: 1px solid #ebebeb;
}
@media (max-width: 699px) {
  /* line 291, ../sass/screen.scss */
  .gallery .gallery-item {
    width: 48.27586%;
    float: left;
    margin-bottom: 3.44828%;
  }
  /* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .gallery .gallery-item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .gallery .gallery-item:nth-child(2n + 2) {
    margin-left: 51.72414%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 700px) {
  /* line 291, ../sass/screen.scss */
  .gallery .gallery-item {
    width: 31.03448%;
    float: left;
    margin-bottom: 3.44828%;
  }
  /* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .gallery .gallery-item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .gallery .gallery-item:nth-child(3n + 2) {
    margin-left: 34.48276%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .gallery .gallery-item:nth-child(3n + 3) {
    margin-left: 68.96552%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 305, ../sass/screen.scss */
.gallery a {
  color: #252525;
}

/* line 310, ../sass/screen.scss */
.gallery-thumb {
  margin-bottom: .5em;
}
/* line 312, ../sass/screen.scss */
.gallery-thumb img {
  border: 1px solid #ebebeb;
}

/* line 317, ../sass/screen.scss */
footer {
  background-color: #252525;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 321, ../sass/screen.scss */
footer .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
footer .container:after {
  content: " ";
  display: block;
  clear: both;
}
